#setting-error-tgmpa,
.simple_update_temp_data { display: none; }
.simple_update_temp_vars li {
    list-style: none;
    border-bottom: 1px solid green;
}
.simple_update_temp_vars input {
	border: 0;
    background: #B7E4F4;
    width: 70%;
    margin-bottom: 5px;
    margin-top: 0;
}
.simple_update_temp_vars label {
    width: 20%;
    text-align: right;
    display: inline-block;
    padding-right: 2%;
    font-weight: bold;
}
.remove_su_link:hover{cursor: pointer;}
.remove_su_link { 
    border-radius: 15px;
    background: rgba(255, 0, 0, 0.5);
    color: white;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    margin: 0 0 2px 2px;
    vertical-align: middle;
}

/*.remove_su_link, [name='hide_wp_editor_overwrite'] { display: none !important; }*/